/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Open Sans', sans-serif;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }
/*-----------------------------------------------------*/
/*-----------------------------------------------------*/
/*-----------------------------------------------------*/
/*-----------------------------------------------------*/
/*-----------------------------------------------------*/
main {
    width: 1121px;
    margin: auto;
    background: #fff;
}

section{
    margin-top: 30px;
}

h1,h2,h3,h4 {
    font-weight: 800;
    color: #1089ce;
    
}

p{
    font-weight: 600;
    line-height: 1.4;
    color: #323232;
}

.blue_p{
    color: #1089ce;
}

.heading-one h1{
    font-size: 45px;
    margin: 82px 0px 20px 0px;    
}
.heading-one p{
    font-size: 18px;
    font-weight: 600;
}

.heading-two h1{
    font-size: 30px;
    margin: 72px 0px 20px 0px;
}

.heading-two p{
    font-size: 15px;
}

.heading-three h2{
    font-size: 24px;
    margin: 64px 0px 20px 0px;
}

.heading-three p{
    font-size: 15px;
}

.heading-four h3{
    font-size: 18px;
    margin: 61px 0px 18px 0px;
}

.heading-four p{
    font-size: 15px;
}

.heading-five h4{
    font-size: 15px;
    margin: 60px 0px 47px 0px;
}

.heading-five p{
    font-size: 15px;
}


/*-----------------------------------------------------*/
/*-----------------------------------------------------*/
/*-----------------------------------------------------*/
/*-----------------------------------------------------*/
/*-----------------------------------------------------*/
#links p{
    font-size: 15px;
}
#links a{
    font-weight: 600;
    line-height: 2.0;
    font-size: 15px;
}
#links a:link{
    color: #1089ce;
    text-decoration: none;
}

#links a:hover{
    text-decoration: underline;  
    
}

#links a:visited{
    color: #92c4e0;
}

#links a:active{
    color: #1089ce;    
}

/*
.xd ul li::before {
  content: "\2022";
  color: red;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}
*/
.lists-1{
    font-weight: 600;
    color: #323232;
}


ol {
    counter-reset:item; 
    margin:0; 
    padding-left:0; 
}
ol>li {
    counter-increment:item; 
    list-style:none inside; 
    margin: 10px 0;
    overflow: hidden;
    font-size: 15px !important;

}
ol>li:before {
    content:counter(item) ;
    margin-right: 20px;
    padding: 8px;
    display: block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: #1089ce;
    color: #fff;
    font-weight: 600;
    float: left;
}



/*-----------------------------------------------------*/
/*-----------------------------------------------------*/
/*-----------------------------------------------------*/
/*-----------------------------------------------------*/
/*-----------------------------------------------------*/
#tabelka{
    border: 1px solid #cccccc;
    width: 70%;
}

th{
    background-color: #dbedf8;
    color: #1089ce;
}

th:first-child{
    background-color: #bddef2;
}

td,th {
    padding: 16px;
}

td:nth-child(1){
    width: 22%;
}
td:nth-child(2){
    width: 39%;
}
td:nth-child(3){
    width: 39%;
}
tr td:first-child{
    background-color: #dbedf8;   
}


tr,td{
    border: none;
    border-bottom: 1px solid #cccccc;
}



/*-----------------------------------------------------*/
/*-----------------------------------------------------*/
/*-----------------------------------------------------*/
/*-----------------------------------------------------*/
/*-----------------------------------------------------*/

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
    font-weight: 600;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #fff;
  border: 1px solid #cccccc;
}



/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 7px;
  bottom: 6px;
  width: 6px;
  height: 12px;
  border: solid #1089ce;
  border-width: 0px 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}










/* The container */
.containerxd {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.containerxd input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmarkxd {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  border: 1px solid #cccccc;

}



/* When the radio button is checked, add a blue background */
.containerxd input:checked ~ .checkmarkxd {
  background-color: #f9f9f9;
  border: 1px solid #cccccc;
}

/* Create the indicator (the dot/square - hidden when not checked) */
.checkmarkxd:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/square) when checked */
.containerxd input:checked ~ .checkmarkxd:after {
  display: block;
}

/* Style the indicator (dot/square) */
.containerxd .checkmarkxd:after {
 	top: 4px;
	left: 4px;
	width: 7px;
	height: 7px;
	background: #2196F3;
}
















.xd ul li::before {
    color: blue;
}

/*------------------------------------------------------------------*/
/*----------------------LOREM--FORM---------------------------------*/
/*----------------------LOREM--FORM---------------------------------*/
/*----------------------LOREM--FORM---------------------------------*/
/*------------------------------------------------------------------*/
/*
#loremForm input[type="text"],
#loremForm input[type="email"],
#loremForm input[type="tel"],
#loremForm input[type="url"],
#loremForm select,
/*#loremForm option,
#loremForm textarea {
    width: 50%;
    border: 1px solid #b8b8b8;
    background: #f9f9f9;
    margin: 0 0 5px;
    padding: 10px;
}

#loremForm textarea{
    height: 250px;
    max-width: 100%;
    resize: none;
}

#loremForm button[type="submit"] {
    cursor: pointer;
    width: 20%;
    border: none;
    background: #1089ce;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.35);    
}
*/

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact select,
#contact option,
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}






#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact select,
#contact textarea {
  width: 50%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 20%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
    display:inline-block;
}

#contact button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}




/*------------------------------------------------------------------*/
/*----------------------IMAGE--FLOW---------------------------------*/
/*----------------------IMAGE--FLOW---------------------------------*/
/*----------------------IMAGE--FLOW---------------------------------*/
/*------------------------------------------------------------------*/
.imageFlow{
    
    
}



